<h2><%= link_to profile.name , profile %></h2>
<p><%= profile.user_id %></p>

  <div>
    <%= link_to 'Edit', edit_profile_path(profile) if can? :update, profile %>
    <%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, profile %>
  </div>
  <br><br>
